html {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

h1 {
  color: #11999E;
  font-size: 3rem;
  margin: 0 auto 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-top: 30px;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
  text-align: center;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  height: 0;
  width: 5%;
  margin: 80px auto;
}

p {
  color: #40514E;
  line-height: 2;
  text-align: center;
  font-size: 1.1rem;
}

#link:hover {
  color: #f2f2f2;
}

#toggler, button {
  border-color: Black;
  font-weight: bold;
}

.top-container {
  background-image: url(../images/macbook.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #08050b;
  opacity: .92;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: left;
}

.mine {
  font-family: 'Montserrat', sans-serif;
  color: #f2f2f2;
  font-size: 500%;
}

.dev {
  font-family: 'Montserrat', sans-serif;
  color: #f2f2f2;
  font-size: 230%;
}

.topTop {
  padding-left: 80px;
}

.insideTop {
  display: inline-block;
  padding-left: 70px;
}

.row {
  text-align: center;
  margin: auto
}

.drop {
  padding: 10px 10px;
}

.drop img {
  height: 45px;
}
.drop a {
  text-decoration: none;
}
.labels {
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  display: block;
  padding-top: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.drop:hover h6 {
  opacity: 1;
}

.pj {
  color: #66BFBF;
}

.pj:hover {
  text-decoration: none;
  color: #11999E;
}

.face {
  height: 220px;
  border-radius: 100%;
  float: right;
  margin: 15px 35px;
  position: relative;
}

.profile {
  width: 80%;
  margin: auto;
  padding-top: 80px;
}

.profile h2 {
  margin: auto;
  text-align: center;
  width: 60%;
}

.profile p {
  width: 60%;
  margin: auto;
  padding-bottom: 15px;
  text-align: left;
}


.proj h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.proj p {
  width: 60%;
  color: #f2f2f2;
  font-size: 18px;
  text-align: center;
  margin: 10px auto;
}

.prj {
  height: 300px;
}

.proj-row {
  padding: 30px 0;
}
.image {
  position: relative;
  display: inline-block;
}

.image:hover .overlay {
  opacity: 1;
}

.overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  transition: opacity 0.2s ease-in;
  vertical-align: middle;
}

.show {
  width: 90%;
  box-sizing: content-box;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 30px;
}

.work p {
  width: 60%;
  text-align: center;
  padding: 30px 0 0 0;
  margin: auto;
}

.skillImg {
  height: 30px;
}

.graph-cont {
  margin: 0;
}

.skill-row {
  padding-top: 40px;
  marigin: 0 15px;
  box-sizing: content-box;
  justify-content: space-evenly;
}
.barG {
  margin: auto;
}
.bar {
  height: 30px;
  max-width: 550px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 10px;
  position: relative;
  text-align: left;
}

.bar::before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
  border-radius: 5px;
}

.bar::after {
  content: '';
  background: #66BFBF;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  left: 0;
  z-index: -1;
}

@-webkit-keyframes bar-before {
  0% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}

.bar1::after {
  max-width: 85%;
}

.bar2::after {
  max-width: 60%;
}

.bar3::after {
  max-width: 45%;
}

.bar4::after {
  max-width: 70%;
}

.bar5::after {
  max-width: 80%;
}

.bar6::after {
  max-width: 85%;
}

.bar7::after {
  max-width: 95%;
}

.bar8::after {
  max-width: 90%;
}

.container {
  padding-bottom: 40px;
  width: 50%;
}

.contact-me h3 {
  padding-top: 20px;
}

label {
  color: #40514E;
  margin-top: 8px;
}

.antispam {
  display: none;
}
.mt-2 {
  text-align: left;
}
.button {
  text-align: center;
}
.thnks {
  display: none;
}

.bottom-container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  background-color: #66BFBF;
  text-align: center;
}

.copy {
  color: #11999E;
}

.btn {
  background-color: #66BFBF;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 40px;
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
}

.cv {
  text-align: center;
  background-color: #08050b;
}

.hme {
  position: fixed;
  top: 30px;
  left: 30px;
}

.cvImg {
  width: 80%;
  padding: 10px;
}

.btn:hover {
  background-color: #11999E;
}

.btn:active {
  position: relative;
  top: 1px;
}

.footer-link {
  color: #f2f2f2;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

.footer-link:hover {
  color: #EAF6F6;
  text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .show {
    display: block;
  }
  .proj-row {
    margin: auto;
  }
}
@media screen and (max-width: 700px) {

  .mine {
    font-size: 300%;
  }
  .dev {
    font-size: 150%;
  }
  .insideTop {
    padding-left: 60px;
  }
  .drop img {
    height: 30px;
  }
}

/* iPhoneX */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  p {
    font-size: 200%;
  }

  .top-container {
    background-size: contain;
    background-position: bottom;
    background-color: #08050b;
    mix-blend-mode: darken;
    opacity: inherit;
    text-align: center;
  }

  .topTop {
    padding-top: 25%;
    padding-left: 0;
    margin: auto;
  }

  .mine {
    font-size: 720%;
    text-align: center;
  }

  .dev {
    font-size: 400%;
    text-align: center;
  }
  .insideTop {
    padding:550px 0 0 0;
  }

  .labels {
    opacity: 1;
    transition: none;
    padding-bottom: 20px;
    font-size: 1.6rem;
  }
  .drop {
    padding-left: 40px;
    padding-right: 40px;
  }
  .drop img {
    height: 120px;
  }

  .profile {
    width: 95%;
  }

  .proj-row {
    width: 90%;
    padding:40px 0;
  }

  .prj {
    height: 420px;
  }

  .col-md-6 {
    max-width: 100%;
    box-sizing: content-box;
  }

  .overlay p {
    font-size: 1.6rem;
  }

  .barG {
    margin: auto;
    width: 90%;
  }

  .bar {
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    max-width: 70%;
  }
  .bar::before,
  .bar::after {
    height: 40px;
  }
  .col-md-6 {
    flex: none;
  }
  .container {
    width: 70%
  }
  .contact-form {
    text-align: left;
  }
  .form-control {
    font-size: 1.4rem;
  }
  .btn {
    font-size: 35px;
    padding: 20px 50px;
  }
  .footer-link {
    font-size: 1.8rem;
  }

  .hme {
    left: 0;
    right: 0;
    top: 100px;
  }

  .cvImg {
    width: 95%;
    height: auto;
    padding-top: 400px;
  }

  .lbl {
    display: none;
  }
}

@media only screen and (min-device-height: 375px) and (min-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  p {
    font-size: 120%;
  }

  .topTop {
    padding-left: 30px;
  }

  .mine {
    font-size: 320%;
  }
  .dev {
    font-size: 220%
  }
  .insideTop {
    padding-left: 20px;
  }
  .drop {
    padding-top: 0;
  }
  .drop .abt {
    padding-left: 0;
  }
  .labels {
    opacity: 1;
    transition: none;
  }

  .profile {
    width: 90%;
  }

  .skill-row {
    display: block;
    margin: auto;
  }

  .footer-link {
    font-size: 1.2rem;
  }

  .lbl {
    display: none;
  }
}
/* iPhone 5, SE  */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait){
  p {
    font-size: 200%;
  }

  .top-container {
    background-size: contain;
    background-position: bottom;
    background-color: #08050b;
    mix-blend-mode: darken;
    opacity: inherit;
    text-align: center;
  }

  .topTop {
    padding-top: 15%;
    padding-left: 0;
    margin: auto;
  }

  .mine {
    font-size: 720%;
    text-align: center;
  }

  .dev {
    font-size: 400%;
    text-align: center;
  }
  .insideTop {
    padding:370px 0 0 0;
  }

  .labels {
    opacity: 1;
    transition: none;
    padding-bottom: 20px;
    font-size: 1.6rem;
  }
  .drop {
    padding-left: 40px;
    padding-right: 40px;
  }
  .drop img {
    height: 120px;
  }

  .profile {
    width: 95%;
  }

  .proj-row {
    width: 90%;
    padding:40px 0;
  }

  .prj {
    height: 420px;
  }

  .col-md-6 {
    max-width: 100%;
    box-sizing: content-box;
  }

  .overlay p {
    font-size: 1.6rem;
  }

  .barG {
    margin: auto;
    width: 90%;
  }

  .bar {
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    max-width: 70%;
  }
  .bar::before,
  .bar::after {
    height: 40px;
  }
  .col-md-6 {
    flex: none;
  }
  .container {
    width: 70%
  }
  .contact-form {
    text-align: left;
  }
  .form-control {
    font-size: 1.4rem;
  }
  .btn {
    font-size: 35px;
    padding: 20px 50px;
  }
  .footer-link {
    font-size: 1.8rem;
  }

  .hme {
    left: 0;
    right: 0;
    top: 100px;
  }

  .cvImg {
    width: 95%;
    height: auto;
    padding-top: 400px;
  }

  .lbl {
    display: none;
  }
}
/* iPhone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (min-device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    p {
      font-size: 200%;
    }

    .top-container {
      background-size: contain;
      background-position: bottom;
      background-color: #08050b;
      mix-blend-mode: darken;
      opacity: inherit;
      text-align: center;
    }

    .topTop {
      padding-top: 15%;
      padding-left: 0;
      margin: auto;
    }

    .mine {
      font-size: 720%;
      text-align: center;
    }

    .dev {
      font-size: 400%;
      text-align: center;
    }
    .insideTop {
      padding:370px 0 0 0;
    }

    .labels {
      opacity: 1;
      transition: none;
      padding-bottom: 20px;
      font-size: 1.6rem;
    }
    .drop {
      padding-left: 40px;
      padding-right: 40px;
    }
    .drop img {
      height: 120px;
    }

    .profile {
      width: 95%;
    }

    .proj-row {
      width: 90%;
      padding:40px 0;
    }

    .prj {
      height: 420px;
    }

    .col-md-6 {
      max-width: 100%;
      box-sizing: content-box;
    }

    .overlay p {
      font-size: 1.6rem;
    }

    .barG {
      margin: auto;
      width: 90%;
    }

    .bar {
      height: 40px;
      font-size: 24px;
      line-height: 40px;
      max-width: 70%;
    }
    .bar::before,
    .bar::after {
      height: 40px;
    }
    .col-md-6 {
      flex: none;
    }
    .container {
      width: 70%
    }
    .contact-form {
      text-align: left;
    }
    .form-control {
      font-size: 1.4rem;
    }
    .btn {
      font-size: 35px;
      padding: 20px 50px;
    }
    .footer-link {
      font-size: 1.8rem;
    }

    .hme {
      left: 0;
      right: 0;
      top: 100px;
    }

    .cvImg {
      width: 95%;
      height: auto;
      padding-top: 400px;
    }

    .lbl {
      display: none;
    }
  }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  p {
    font-size: 120%;
  }

  .top-container {
    min-height: 100vh;
    height: 100vh;
    background-position: center;
  }

  .topTop {
    top: 20px;
    left: 30px;
  }

  .mine {
    font-size: 400%;
  }

  .insideTop {
    top: 400px;
    right: 25px;
  }

  .drop img {
    height: 70px;
  }

  .labels {
    display: block;
  }

  .profile {
    width: 90%;
  }

  .skill-row {
    display: block;
    margin: auto;
  }

  .barG {
    margin: auto;
  }

  .footer-link {
    font-size: 1.5rem;
  }

  .lbl {
    display: none;
  }
}

/* iPhone 6+,7+,8+ */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
.topTop {
  padding-left: 40px;
}
  .insideTop {
    padding-left: 30px;
  }

  .lbl {
    display: none;
  }
}

/* Galaxy s4, s5, s6, note3 */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  p {
    font-size: 200%;
  }

  .top-container {
    background-size: contain;
    background-position: bottom;
    background-color: #08050b;
    mix-blend-mode: darken;
    opacity: inherit;
    text-align: center;
  }

  .topTop {
    padding-top: 15%;
    padding-left: 0;
    margin: auto;
  }

  .mine {
    font-size: 720%;
    text-align: center;
  }

  .dev {
    font-size: 400%;
    text-align: center;
  }
  .insideTop {
    padding:370px 0 0 0;
  }

  .labels {
    opacity: 1;
    transition: none;
    padding-bottom: 20px;
    font-size: 1.6rem;
  }
  .drop {
    padding-left: 40px;
    padding-right: 40px;
  }
  .drop img {
    height: 120px;
  }

  .profile {
    width: 95%;
  }

  .proj-row {
    width: 90%;
    padding:40px 0;
  }

  .prj {
    height: 420px;
  }

  .col-md-6 {
    max-width: 100%;
    box-sizing: content-box;
  }

  .overlay p {
    font-size: 1.6rem;
  }

  .barG {
    margin: auto;
    width: 90%;
  }

  .bar {
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    max-width: 70%;
  }
  .bar::before,
  .bar::after {
    height: 40px;
  }
  .col-md-6 {
    flex: none;
  }
  .container {
    width: 70%
  }
  .contact-form {
    text-align: left;
  }
  .form-control {
    font-size: 1.4rem;
  }
  .btn {
    font-size: 35px;
    padding: 20px 50px;
  }
  .footer-link {
    font-size: 1.8rem;
  }

  .hme {
    left: 0;
    right: 0;
    top: 100px;
  }

  .cvImg {
    width: 95%;
    height: auto;
    padding-top: 400px;
  }

  .lbl {
    display: none;
  }
}

@media screen and (device-width: 640px) and (device-height: 360px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape){
  .mine {
    font-size: 300%;
  }
  .drop img {
    height: 45px;
  }
  .labels {
    opacity: 1;
  }
}
/* Google Pixel xl */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {
  p {
    font-size: 200%;
  }

  .top-container {
    background-size: contain;
    background-position: bottom;
    background-color: #08050b;
    mix-blend-mode: darken;
    opacity: inherit;
    text-align: center;
  }

  .topTop {
    padding-top: 15%;
    padding-left: 0;
    margin: auto;
  }

  .mine {
    font-size: 720%;
    text-align: center;
  }

  .dev {
    font-size: 400%;
    text-align: center;
  }
  .insideTop {
    padding:370px 0 0 0;
  }

  .labels {
    opacity: 1;
    transition: none;
    padding-bottom: 20px;
    font-size: 1.6rem;
  }
  .drop {
    padding-left: 40px;
    padding-right: 40px;
  }
  .drop img {
    height: 120px;
  }

  .profile {
    width: 95%;
  }

  .proj-row {
    width: 90%;
    padding:40px 0;
  }

  .prj {
    height: 420px;
  }

  .col-md-6 {
    max-width: 100%;
    box-sizing: content-box;
  }

  .overlay p {
    font-size: 1.6rem;
  }

  .barG {
    margin: auto;
    width: 90%;
  }

  .bar {
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    max-width: 70%;
  }
  .bar::before,
  .bar::after {
    height: 40px;
  }
  .col-md-6 {
    flex: none;
  }
  .container {
    width: 70%
  }
  .contact-form {
    text-align: left;
  }
  .form-control {
    font-size: 1.4rem;
  }
  .btn {
    font-size: 35px;
    padding: 20px 50px;
  }
  .footer-link {
    font-size: 1.8rem;
  }

  .hme {
    left: 0;
    right: 0;
    top: 100px;
  }

  .cvImg {
    width: 95%;
    height: auto;
    padding-top: 400px;
  }

  .lbl {
    display: none;
  }
}
@media screen and (device-width: 640px) and (device-height: 360px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape){
  .mine {
    font-size: 300%;
  }
  .drop img {
    height: 45px;
  }
  .labels {
    opacity: 1;
  }
}
/* google pixel2 xl */
@media screen and (device-width: 823px) and (device-height: 411px) and (-webkit-device-pixel-ratio: 3.5) and (orientation: landscape) {
  .mine {
    font-size: 300%;
  }
  .drop img {
    height: 45px;
  }
  .labels {
    opacity: 1;
  }
}

/* Windows Phone */
@media screen and (device-width: 800px) and (device-height: 480px) and (orientation: landscape) {
.mine {
  font-size: 300%;
}
.drop img {
  height: 45px;
}
.labels {
  opacity: 1;
}
}

/* lg optimus */
@media screen and (device-width: 384px) and (device-height: 640px) and (orientation: portrait) {
  p {
    font-size: 200%;
  }

  .top-container {
    background-size: contain;
    background-position: bottom;
    background-color: #08050b;
    mix-blend-mode: darken;
    opacity: inherit;
    text-align: center;
  }

  .topTop {
    padding-top: 15%;
    padding-left: 0;
    margin: auto;
  }

  .mine {
    font-size: 720%;
    text-align: center;
  }

  .dev {
    font-size: 400%;
    text-align: center;
  }
  .insideTop {
    padding:370px 0 0 0;
  }

  .labels {
    opacity: 1;
    transition: none;
    padding-bottom: 20px;
    font-size: 1.6rem;
  }
  .drop {
    padding-left: 40px;
    padding-right: 40px;
  }
  .drop img {
    height: 120px;
  }

  .profile {
    width: 95%;
  }

  .proj-row {
    width: 90%;
    padding:40px 0;
  }

  .prj {
    height: 420px;
  }

  .col-md-6 {
    max-width: 100%;
    box-sizing: content-box;
  }

  .overlay p {
    font-size: 1.6rem;
  }

  .barG {
    margin: auto;
    width: 90%;
  }

  .bar {
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    max-width: 70%;
  }
  .bar::before,
  .bar::after {
    height: 40px;
  }
  .col-md-6 {
    flex: none;
  }
  .container {
    width: 70%
  }
  .contact-form {
    text-align: left;
  }
  .form-control {
    font-size: 1.4rem;
  }
  .btn {
    font-size: 35px;
    padding: 20px 50px;
  }
  .footer-link {
    font-size: 1.8rem;
  }

  .hme {
    left: 0;
    right: 0;
    top: 100px;
  }

  .cvImg {
    width: 95%;
    height: auto;
    padding-top: 400px;
  }

  .lbl {
    display: none;
  }

}

@media screen and (device-width: 640px) and (device-height: 384px) and (orientation: landscape) {
  .mine {
    font-size: 300%;
  }
  .drop img {
    height: 45px;
  }
  .labels {
    opacity: 1;
  }
  .skill-row {
    display: block;
  }
}

/* iPad 1,2,mini,air */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .topTop {
    padding-top: 10%;
  }
  .insideTop {
    padding-top: 200px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .topTop {
    padding-left: 50px;
  }
  .insideTop {
    padding-left: 40px;
  }
  .mine {
    font-size: 300%;
  }
  .drop img {
    height: 45px;
  }
  .labels {
    opacity: 1;
  }
}

/* iPad Pro 12.9" */

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  p {
    font-size: 1.4rem;
  }
  .dev {
    font-size: 300%;
  }
  .drop img {
    height: 60px;
  }
  .labels {
    opacity: 1;
  }
}
